<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/css/suggestions.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/js/jquery.suggestions.min.js"></script>
    <!-- <script>
    $("#address").suggestions({
      token: "${API_KEY}",
        type: "ADDRESS",
        onSelect: function(suggestion) {
            console.log(suggestion);
        }
    }); -->
</script>
</head>
<body>
<section class="bg-white">
    <div class="lg:grid lg:min-h-screen lg:grid-cols-12">
      <section
        class="relative flex h-32 items-end bg-gray-900 lg:col-span-5 lg:h-full xl:col-span-6"
      >
        <img
          alt="Night"
          src="https://img.kvmeter.ru/upload/iblock/06e/06e1982866ddbbf5e67d7fb9273274b0.jpg"
          class="absolute inset-0 h-full w-full object-cover opacity-80"
        />
  
        <div class="hidden lg:relative lg:block lg:p-12">
          <a class="block text-white" href="/">
            <span class="sr-only">Home</span>
            <svg
              class="h-8 sm:h-10"
              viewBox="0 0 28 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
              
                fill="currentColor"
              />
            </svg>
          </a>
  
          <h2 class="mt-6 text-2xl font-bold text-white sm:text-4xl md:text-4xl">
            Добро пожаловать в РостелекомКлюч
          </h2>
  
          <p class="mt-4 leading-relaxed text-white/90">
            Данная сеть поможет вам общаться со всеми вашими соседями
          </p>
        </div>
      </section>
  
      <main
        class="flex items-center justify-center px-8 py-8 sm:px-12 lg:col-span-7 lg:px-16 lg:py-12 xl:col-span-6"
      >
      
        <div class="max-w-xl lg:max-w-3xl">
        <label for="" class="font-bold text-4xl flex justify-center mb-24"> Регистрация</label>
          <div class="relative -mt-16 block lg:hidden">
            <a
              class="inline-flex h-16 w-16 items-center justify-center rounded-full bg-white text-blue-600 sm:h-20 sm:w-20"
              href="/"
            >
              <span class="sr-only">Home</span>
              <svg
                class="h-8 sm:h-10"
                viewBox="0 0 28 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d=""
                  fill="currentColor"
                />
              </svg>
            </a>
  
            <h1
              class="mt-2 text-2xl font-bold text-gray-900 sm:text-3xl md:text-4xl"
            >
                Добро пожаловать в Ростелеком Ключ
            </h1>
  
            <p class="mt-4 leading-relaxed text-gray-500">
                Данная сеть поможет вам общаться со всеми вашими соседями
            </p>
          </div>

          <form action="#" class="mt-8 grid grid-cols-6 gap-6">
            <div class="col-span-6 sm:col-span-3">
              <label
                for="FirstName"
                class="my-1 block text-sm font-medium text-gray-700"
              >
                Имя
              </label>
  
              <input
                type="text"
                id="FirstName"
                name="first_name"
                class="-full text-base py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500"
              />
            </div>
  
            <div class="col-span-6 sm:col-span-3">
              <label
                for="LastName"
                class="my-1 block text-sm font-medium text-gray-700"
              >
                Фамилия
              </label>
  
              <input
                type="text"
                id="LastName"
                name="last_name"
                class="full text-base py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500"
              />
            </div>
  
            <div class="col-span-6">
              <label for="Email" class="my-1 block text-sm font-medium text-gray-700">
                Email
              </label>
  
              <input
                type="email"
                id="Email"
                name="email"
                class="-full text-base py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500 w-full"
              />
            </div>
            <div class="col-span-6">
              <label for="Address" class="my-1 block text-sm font-medium text-gray-700">
                Ваш адрес
              </label>
  
              <input
                type="text"
                id="Address"
                name="address"
                value=""
                class="-full text-base py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500 w-full"

              />
              

              
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label
                for="Password"
                class="my-1 block text-sm font-medium text-gray-700"
              >
                Пароль
              </label>
  
              <input
                type="password"
                id="Password"
                name="password"
                class="-full text-base py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500"
              />
            </div>
  
            <div class="col-span-6 sm:col-span-3">
              <label
                for="PasswordConfirmation"
                class="my-1 block text-sm font-medium text-gray-700"
              >
                Повторите пароль
              </label>
  
              <input
                type="password"
                id="PasswordConfirmation"
                name="password_confirmation"
                class="-full text-base py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500"
              />
            </div>
  
            
  
            <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
              <button
                class="inline-block shrink-0 rounded-md border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500"
              >
                Создать аккаунт
              </button>
  
              <p class="mt-4 text-sm text-gray-500 sm:mt-0">
                Уже есть аккаунт?
                <a href="log-in.html" class="text-blue-700 hover:text-blue-500no-underline hover:underline cursor-pointer transition">Войдите</a>.
              </p>
            </div>
          </form>
        </div>
      </main>
    </div>
  </section>
</body>
</html>
