<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<section class="bg-light">
    <div class="flex my-10 justify-around">
        <label class="font-bold text-3xl ">
        РостелекомКлюч
        </label>
    </div>
    
    <div class="mx-10">
        <div class="flex justify-center ">
            <label class="font-bold text-xl"> 
                Войдите в свой аккаунт
            </label>
        </div>
    </div>
    <div class="flex flex-col space-y-10 mx-10">
        <div class="">
            <label
              for="Email"
              class="my-1 text-m font-medium text-gray-700"
            >
              Введите ваш Email
            </label>

            <input
              type="email"
              id="Email"
              name="email"
              class="pl-2 mt-1 outline-offset-4 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm"
            />
        </div>
        <div>
            <label for="Password"
            class="my-1 text-m font-medium text-grey-700">
                Введите ваш пароль 
            </label>
            <input 
            type="password"
            id="Password"
            name="password"
            class="pl-2 mt-1 outline-offset-4 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm"
            >
        </div>
        <button class="rounded-lg bg-blue-600">

        </button>
    </div>
</section>
</body>
</html>